<link rel="stylesheet" href="styles/styles.css">

<nav class="navbar">
    <ul>
        <a href="/">Home</a>
        <a href="/essays">Essays</a>
        <a href="/about">About us</a>
    </ul>
</nav>
