* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-left: 9vw;
    font-size: 40px;
    padding: 30px;
    padding-bottom: 8px;
}
p {
    margin-left: 10.3vw;
    font-size: 20px;
    margin-bottom: 2vh;
}
a {
    font-style: italic;
}
.navbar {
    background-color: rgb(64, 64, 113);
    height: 8vh;
    display: flex;
    align-items: center;
}
.navbar ul {
    margin-left: 11vw;
}
.navbar a {
    color: white;
    margin-right: 3vw;
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(87, 87, 188);
    padding: 10px;
    border-radius: 8px;
}
.navbar a:hover {
    background-color: rgb(103, 103, 225);
    text-decoration: underline;
}

.about-p {
    margin-right: 20vh;
}

.create-button {
    margin-left: 10.3vw;
    padding: 12px;
    font-size: 20px;
    background-color: rgb(87, 87, 188);
    border-radius: 8px;
    border-color: rgba(255, 255, 255, 0);
    color: white;
    font-style: italic;
    text-decoration: none;
}

#write-blog {
    font-size: 20px;
    margin-top: 2vh;
    margin-left: 11vw;
}

#blog {
    margin-left: 11vw;
    font-size: 20px;
    border-radius: 12px;
    border: 4px solid rgb(87, 87, 188);
}

#submit {
    margin-left: 11vw;
    margin-top: 2vh;
    padding: 12px;
    font-size: 20px;
    width: 9vw;
    border-radius: 12px;
    border-color: rgba(255, 255, 255, 0);
    background-color: rgb(87, 87, 188);
    color: white;
    font-style: italic;
}

.no-blogs {
    margin-top: 3vh;
    color: red;
}

.blog-post {
    width: fit-content;
    text-wrap: wrap;
}

.blog-post h2 {
    margin-left: 10vw;
    margin-top: 2vh;
    background-color: rgb(87, 87, 188); 
    padding: 8px;
    color: white;
    font-style: italic;
    border-radius: 8px;
    width: fit-content;
    text-wrap: wrap;
}