* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.map-container {
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    background-color: beige;
}

.player {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
}