<%- include("partials/header.ejs"); %>
<script src="index.js"></script>

<form action="/created" method="post">

    <h1>Create essay!</h1>

    <br>

    <p id="write-blog">Write your essay/blog: </p>
    <textarea name="blog-post" id="blog" rows="25" cols="55"></textarea>

    <br>

    <button type="submit" id="submit">Submit</button>
</form>